@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem no Chrome/Safari */
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000; /* Cor do polegar da barra de rolagem no Chrome/Safari */
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000; /* Cor do polegar da barra de rolagem no hover no Chrome/Safari */
      border-radius: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da faixa de rolagem no Chrome/Safari */
    border-radius: 12px;
  }
  
  /* Estilos para a barra de rolagem no Firefox */
  body {
    scrollbar-width: thin; /* Define a largura da barra de rolagem no Firefox */
    border-radius: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000; /* Cor do polegar da barra de rolagem no Firefox */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #000; /* Cor do polegar da barra de rolagem no hover no Firefox */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor da faixa de rolagem no Firefox */
  }